In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data.csv')

In [5]:
df #dataframe is all about rows and columns

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [9]:
rows,columns=df.shape
columns

4

In [12]:
df.head (2) #It'll print only first 2 rows

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0

In [13]:
df.tail(5)  #last 5 rows

     Duration  Pulse  Maxpulse  Calories
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [16]:
df[2:5]             #Row 2 to 4, Slicing in Python

   Duration  Pulse  Maxpulse  Calories
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [17]:
df.columns      #Columns only

Index(['Duration', 'Pulse', 'Maxpulse', 'Calories'], dtype='object')

In [18]:
df.Duration  #only print specific column

0      60
1      60
2      60
3      45
4      45
       ..
164    60
165    60
166    60
167    75
168    75
Name: Duration, Length: 169, dtype: int64

In [19]:
type(df)

pandas.core.frame.DataFrame